@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);


.item-1, 
.item-2, 
.item-3,
.item-4{
	position: absolute;
  display: block;
	top: 45%;
  
  width: 80%;
  
   font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
 letter-spacing:0.1em;
font-size:35px;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

.item-4{
	animation-name: anim-4;
}

@keyframes anim-1 {
	0%, 0% { left: -10%; opacity: 0; }
  5%,20% { left: 10%; opacity: 1; }
  25%, 100% { left: 20%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 25% { left: -10%; opacity: 0; }
  30%, 45% { left: 10%; opacity: 1; }
  50%, 100% { left: 20%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 50% { left: -10%; opacity: 0; }
  55%, 70% { left: 10%; opacity: 1; }
  75%, 100% { left: 20%; opacity: 0; }
}

@keyframes anim-4 {
	0%, 75% { left: -10-%; opacity: 0; }
  80%, 95% { left: 10%; opacity: 1; }
  100% { left: 20%; opacity: 0; }
} 

.flip {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
}
